import {
  Component
}

from '@angular/core';
import {
  RssFeedComponent
}

from './rss-feed/rss-feed.component';

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.css'],
  standalone: true,
  imports: [RssFeedComponent]
})
export class AppComponent {
  title = 'RSS Feed Reader';
}
